@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "League Spartan",sans-serif;

    color:white;
}

.logo{
    width: 2rem;
    
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    color: white;
}

.ti {
    color: transparent;              /* Interior transparente */
    -webkit-text-stroke: 3px #000e3f;  /* Apenas a borda azul */
}
.entrega {
    background: linear-gradient(to right, #000e3f, #001b7a, #002092);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


img{
    max-width:100%;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
    font-size: 1.4rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    transition: all .3s ease;
    z-index: 1000;
}

header.scrolled, header.white-section {
    padding: 12px 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
}

header.scrolled nav a {
    color: white;
}

/* Quando chegar novamente no fundo branco */
header.white-section nav a {
    color: #000c38;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 8%;
    height: 15px;
}

nav ul{
    display:flex;
    gap:35px;
}

nav a{
    color: #000c38;
    transition: color .3s ease;
}

nav a:hover{
    color:#001b7a;
}

.hero-conteudo{
    background:
        linear-gradient(
            to right,
            white 0%,
            rgb(255, 255, 255) 15%,
            rgba(255,255,255,.8) 40%,
            rgba(255,255,255,0) 72%
        ),
        url(img/imagem_azul_herops.png);

    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;

    display:flex;
    min-height: 95vh;
    justify-content:space-between;
    gap:60px;
    padding:80px 8%;
}

.texto{
    max-width:500px;
}

p{
    color: #000c38;
    line-height:1.6;
    margin-bottom:30px;
}

.botoes{
    display:flex;
    gap:15px;
    /*width: 10rem;
    height: 4px;
    flex-wrap: nowrap; */

}

.btn{
    display: inline-flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;  /* Centraliza na vertical */
    background: linear-gradient(to right,#000c38, #011768);
    color:white;

    padding: 15px 32px;
    font-size: 1.3rem;
    border-radius: 10px;

    transition:.6s;
}

.btn:hover{
     background: linear-gradient(to right,#000e3f, #002092);
}

.btn-secundario{
    display: inline-flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;  /* Centraliza na vertical */
    border:2px solid #000e3f;
    color: #000c38;
    padding: 15px 32px;
    font-size: 1.3rem;
    border-radius: 10px;

    transition:.6s;
}

.btn-secundario:hover{
    background: #001b7a;
    color: white;
}

/* SEÇÕES */

.frase{
    font-size: 1.65rem;
    color: #000c38;
}

.descricao{
    font-size: 1.5rem;
    width: 115%;
}

.conteudo1{
    background: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
    gap:80px;

    padding:100px 8%;
}

.imagem_conteudo1{
    width: 500px;
    border-radius: 20px;
}

.conteudo1 div{
    max-width:500px;
    
}


.card1{
    background: white;
    font-size: 1.35rem;
    border: 3px solid transparent;
    border-radius: 20px;

    background-image:
        linear-gradient(white, white),
        linear-gradient(to right, #001b7a, #008cff);
        
    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 30px;
}
.titulo1{
    color: #000c38;
    font-size:2.2rem;
    margin-bottom:20px;
}

.p1{
    color:#000c38;
    line-height:1.7;
}

.conteudo2{
    background: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row-reverse;
    gap:80px;

    padding:100px 8%;
}

.imagem_conteudo2{
    flex-direction: row-reverse;
    width: 500px;
    border-radius: 20px;
}

.conteudo2 div{
    max-width:500px;
    
}


.card2{
    background: white;
    font-size: 1.35rem;
    border: 3px solid transparent;
    border-radius: 20px;

    background-image:
        linear-gradient(white, white),
        linear-gradient(to right, #001b7a, #008cff);

    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 30px;
}

.titulo2{
    color: #000c38;
    font-size:2.2rem;
    margin-bottom:20px;
}

.p2{
    color:#000c38;
    line-height:1.7;
}

.conteudo3{
    background: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
    gap:80px;

    padding:100px 8%;
}

.conteudo3 div{
    max-width:500px;
    
}

.imagem_conteudo3{
    width: 500px;
    border-radius: 20px;
}

.card3{
    background: white;
    font-size: 1.35rem;
    border: 3px solid transparent;
    border-radius: 20px;

    background-image:
        linear-gradient(white, white),
        linear-gradient(to right, #001b7a, #008cff);

    background-origin: border-box;
    background-clip: padding-box, border-box;

    padding: 30px;
}

.titulo3{
    color: #000c38;
    font-size:2.2rem;
    margin-bottom:20px;
}

.p3{
    color:#000c38;
    line-height:1.7;
}


/* FOOTER */

footer{
    position: relative;
    text-align:center;
    padding:20px 45px;
    border-top:1px solid #242424;
    background-color: #000c38;
    max-height: 290px;
}

.logo_titulo_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 10px 30px;
}

.logo_footer{
    width: 3rem;
}

.titulo_footer{
    font-size: 3rem;
    
}

.p_principal{
    display: flex;
    justify-content: flex-start;
    margin: 32px;
    font-size: 1.5rem;
    max-width: 300px;
    text-align: justify;
    font-size: 20px;
}

footer p{
    margin-top:10px;
    color:#ececec;
}

.nav_footer{
    display: flex;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: #ffff;
}

.links_footer_inicio{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-30%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inicio_footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.links_footer_sobre_nos{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(65%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sobre_nos_footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.links_footer_suporte{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(500%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.suporte_footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p_direitos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* RESPONSIVO */

@media(max-width:900px){

.hero-conteudo,
.conteudo,
.reverso{

    flex-direction:column;
    text-align:center;

}

nav{
    flex-direction:column;
    gap:20px;
}

.botoes{
    justify-content:center;
}

.texto h1{
    font-size:2.3rem;
}

}